$bggrey: #DEE1E9;
$fontpage: 'Montserrat';
$radiocolor1: #BA1417;
$radiocolor2: #F63030;
$radiocolor3: #FFA400;
$radiocolor4: #00E355;
$radiocolor5: #008811;

@import  url("./../font/Montserrat/stylesheet.css");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline; }
  
/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block; }

body {
    line-height: 1; }

ol, ul {
    list-style: none; }

blockquote, q {
    quotes: none; }

blockquote {
&:before, &:after {
    content: '';
    content: none; } }

q {
&:before, &:after {
    content: '';
    content: none; } }

table {
    border-collapse: collapse;
    border-spacing: 0; }
* {
    box-sizing: border-box;
}
body {
    font-family: $fontpage;
    font-style: normal;
    font-weight: normal;
}
.header {
    padding: 40px 40px 70px;
    background-color: $bggrey;
    width: 100%;
    .logo {
        max-width: 140px;
        img {
            max-width: 100%;
        }
    }
    .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .text-col {
            width: 65%;
            padding-left: 15px;
            h2  {
                font-family: $fontpage;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 40px;
                text-transform: uppercase;
                color: #4D4D4D;
                padding-bottom: 20px;
            }
            p {
                font-family: $fontpage;
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 33px;
                color: #5722DE;
            }
            .grey {
                font-family: $fontpage;
                font-style: normal;
                font-weight: bold;
                font-size: 23px;
                line-height: 33px;
                color: #4C4C4C;
            }
            .bottom-text {
                font-family: $fontpage;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 40px;
                color: #000000;
                padding-top: 60px;
                &.blue {
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 33px;
                    color: #5722DE;
                }
            }
            .small-text {
                font-family: $fontpage;
                font-style: normal;
                font-weight: 500;
                font-size: 25px;
                line-height: 30px;
                color: #5722DE;
                padding-bottom: 30px;
            }
            .big-text {
                font-family: $fontpage;
                font-style: normal;
                font-weight: bold;
                font-size: 60px;
                line-height: 73px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
        }
        .audio-wrapper {
            margin-top: 30px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 270px;
            background: #DEE1E9;
            box-shadow: inset 0px 0px 10px 2px rgba(144, 141, 150, 0.2);
            border-radius: 30px;
            .playaudio {
                width: 53px;
                height: 53px;
                background-image: url(./../img/play.png);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
                border-radius: 50%;
                &:hover {
                    box-shadow: 0px 0px 2px 2px rgba(34.1, 13.3, 87.1, 0.3);
                }
            }
            .audio {
                width: calc(100% - 53px);
            }
        }
        .pic-col {
            width: 35%;
            img {
                max-width: 100%;
            }
            .vide-wrapper {
                width: 100%;
                position: relative;
                video {
                    width: 100%;
                    height: auto;
                }
                .play {
                    background-image:url(./../img/play.png);
                    background-repeat:no-repeat;
                    width:70px;
                    height:70px;
                    position:absolute;
                    left:0%;
                    right:0%;
                    top:0%;
                    bottom:0%;
                    margin:auto;
                    background-size:contain;
                    background-position: center;
                    transition: transform 0.3s ease-in;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}
.container {
    padding: 20px 60px;
    .question-wrapper {
        padding-top: 40px;
        padding-bottom: 40px;
        border-bottom: 1px solid #EBEBEB;
        &.has-error {
            .question {
                color: $radiocolor2;
            }
        }
        .question {
            font-family: $fontpage;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 33px;
            color: #4D4D4D;
        }
        .radio-wrapper {
            padding-top: 40px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .radio-cont {
                max-width: 20%;
                width: 20%;
                padding: 5px;
                input[type=radio] {
                    display: none;
                }
                label {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    .number {
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 20px;
                        width: 35px;
                        height: 35px;
                        display: flex;
                        align-content: center;
                        justify-content: center;
                        border: 2px solid #ffffff;
                        border-radius: 50%;
                        padding: 5px;
                        transition: all 0.3s ease-in;
                    }
                    .text {
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 18px;
                        line-height: 22px;
                        text-align: center;
                        color: #4D4D4D;
                        padding-top: 10px;
                        max-width: 220px;
                    }
                }
                &:nth-child(1){
                    input[type=radio]:checked + label {
                        .number {
                            border-color: $radiocolor1;
                            color: #ffffff;
                            background-color: $radiocolor1;
                        }
                    }
                    label .number {
                        border-color: $radiocolor1;
                        color: $radiocolor1;
                    }
                }
                &:nth-child(2){
                    input[type=radio]:checked + label {
                        .number {
                            border-color: $radiocolor2;
                            color: #ffffff;
                            background-color: $radiocolor2;
                        }
                    }
                    label .number {
                        border-color: $radiocolor2;
                        color: $radiocolor2;
                    }
                }
                &:nth-child(3){
                    input[type=radio]:checked + label {
                        .number {
                            border-color: $radiocolor3;
                            color: #ffffff;
                            background-color: $radiocolor3;
                        }
                    }
                    label .number {
                        border-color: $radiocolor3;
                        color: $radiocolor3;
                    }
                }
                &:nth-child(4){
                    input[type=radio]:checked + label {
                        .number {
                            border-color: $radiocolor4;
                            color: #ffffff;
                            background-color: $radiocolor4;
                        }
                    }
                    label .number {
                        border-color: $radiocolor4;
                        color: $radiocolor4;
                    }
                }
                &:nth-child(5){
                    input[type=radio]:checked + label {
                        .number {
                            border-color: $radiocolor5;
                            color: #ffffff;
                            background-color: $radiocolor5;
                        }
                    }
                    label .number {
                        border-color: $radiocolor5;
                        color: $radiocolor5;
                    }
                }

            }
        }
        .hidden-answer {
            &>div {
                display: none;
            }
            .detail {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 60px;
                label {
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 33px;
                    color: #4D4D4D;
                    width: 50%;
                    display: block;
                }
                input {
                    display: block;
                    width: 50%;
                    border-bottom: 1px solid #000000;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    padding: 5px 15px;
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 22px;
                    line-height: 33px;
                    color: #4D4D4D;
                    outline: none;
                    &::placeholder {
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 33px;
                        color: #C0BCBC;
                    }
                }
            }
        }
    }
    .submit-container {
        padding-top: 70px;
        text-align: center;
        .btn-submit {
            font-family: $fontpage;
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 21px;
            color: #FFFFFF;
            padding: 15px 70px;
            background: #FF4E00;
            border-radius: 5px;
            outline: none;
            border: none;
        }
    }
    &.container-contact {
        background: $bggrey;
        padding-top: 60px;
        padding-bottom: 35px;
        .contact-form {
            .question-block {
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                background: #FFFFFF;
                border: 0.5px solid #FDD030;
                box-sizing: border-box;
                box-shadow: 0px 30px 30px 5px rgba(0, 0, 0, 0.05);
                border-radius: 5px;
                padding: 30px;
                margin-bottom: 30px;
                .question {
                    font-family: $fontpage;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 30px;
                    color: #000000;
                    width: 40%;
                }
                .answer {
                    width: 60%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-wrap: wrap;
                    flex-direction: column;
                    max-height: 100px;
                    &.answer-2 {
                        label {
                            width: 50%;
                        }
                    }
                    label {
                        width: 33.3%;
                        padding: 10px;
                        font-family: $fontpage;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        color: #333042;
                        input[type=radio] {
                            padding-left: 5px;
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}
.thankyou {
    min-width: 100%;
    min-height: 100vh;
    background-color: #FCD9AF;
    .thankyou-text {
        padding-top: 120px;
        max-width: 100%;
        position: relative;
        z-index: 10;
        .small-text {
            font-family: $fontpage;
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            line-height: 30px;
            color: #5722DE;
            padding-bottom: 30px;
        }
        .big-text {
            font-family: $fontpage;
            font-style: normal;
            font-weight: bold;
            font-size: 60px;
            line-height: 73px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    .picture {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        background-image: url(./../img/thanks.jpg);
        background-position-y: bottom;
        background-position-x: right;
        background-size: 50%;
        background-repeat: no-repeat;
        z-index: 5;
    }
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    border-radius: 10px;
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 600px;
    padding: 15px;
    .text {
        padding: 40px 30px;
        font-family: $fontpage;
        font-style: normal;
        font-weight: bold;
        font-size: 33px;
        line-height: 45px;
        text-align: center;
        color: #000000;
    }
}
  
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
@media screen and (min-width: 1500px) {
    .contact-form,
    .header-content,
    .form-wrapper {
        max-width: 1400px;
        margin: auto;
    }
}
@media screen and (max-width: 1200px) {
    .container {
        padding-left: 35px;
        padding-right: 35px;
    }
    .header .header-content .text-col {
        padding-top: 15px;
    }
    .header {
        padding-left: 35px;
        padding-right: 35px;
    }
    .container .question-wrapper .radio-wrapper .radio-cont label .text {
        font-size: 16px;
        line-height: 20px;
    }
    .thankyou .thankyou-text .big-text {
        font-size: 46px;
        line-height: 52px;
    }
}
@media screen and (max-width: 900px) {
    .container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .header {
        padding-left: 25px;
        padding-right: 25px;
    }
    .container .question-wrapper .radio-wrapper .radio-cont label .text {
        font-size: 14px;
        line-height: 18px;
    }
    .container.container-contact .contact-form .question-block .answer label {
        width: 50%;
    }
    .container.container-contact .contact-form .question-block {
        .answer {
            max-height: 140px;
        }
    }
    .thankyou .thankyou-text .big-text {
        font-size: 32px;
        line-height: 38px;
    }
    .thankyou .thankyou-text .small-text {
        font-size: 18px;
        padding-bottom: 15px;
        line-height: 22px;
    }
}
@media screen and (max-width: 768px) {
    .header {
        padding-top: 20px;
    }
    .header .header-content .text-col .bottom-text {
        font-size: 16px;
        line-height: 20px;
        padding-top: 20px;
    }
    .header .logo {
        max-width: 100px;
    }
    .thankyou .thankyou-text .big-text {
        font-size: 24px;
        line-height: 28px;
    }
    .thankyou .thankyou-text .small-text {
        font-size: 14px;
        line-height: 18px;
    }
    .thankyou .picture {
        background-size: 90%;
        opacity: 0.7;
    }
    .header .header-content .text-col h2,
    .header .header-content .text-col .big-text {
        font-size: 22px;
        line-height: 28px;
    }
    .header .header-content .text-col p {
        font-size: 18px;
        line-height: 22px;
    }
    .container .question-wrapper .question,
    .header .header-content .text-col .small-text {
        font-size: 16px;
        line-height: 20px;
    }
    .container .question-wrapper .hidden-answer .detail label,
    .container.container-contact .contact-form .question-block .question {
        font-size: 16px;
        line-height: 20px;
    }
    .container .question-wrapper .radio-wrapper .radio-cont label .text {
        font-size: 12px;
        line-height: 16px;
    }
    .container.container-contact .contact-form .question-block .answer label {
        font-size: 14px;
        line-height: 16px;
    }
    .container .question-wrapper .hidden-answer .detail {
        flex-wrap: wrap;
        label,
        input {
            width: 100%;
        }
    }
    .container.container-contact .contact-form .question-block {
        padding: 20px;
    }
}
@media screen and (max-width: 600px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .header {
        padding-left: 15px;
        padding-right: 15px;
    }
    .container .question-wrapper .radio-wrapper .radio-cont label .text {
        font-size: 10px;
        line-height: 12px;
    }
    .header .header-content {
        flex-wrap: wrap;
    }
    .header .header-content .text-col {
        width: 100%;
        padding-bottom: 10px;
    }
    .header .header-content .pic-col {
        width: 100%;
    }
    .header {
        padding-bottom: 10px;
    }
}
@media screen and (max-width: 500px) {
    .container .question-wrapper .radio-wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
    .container .question-wrapper .radio-wrapper .radio-cont {
        width: 33.3%;
        max-width: 33.3%;
    }
    .container.container-contact .contact-form .question-block {
        flex-direction: column;
        .question,
        .answer {
            width: 100%;
        }
    }
    .container.container-contact .contact-form .question-block .answer label {
        padding-left: 5px;
        padding-right: 5px;
    }
    .container.container-contact .contact-form .question-block {
        padding: 10px;
    }
}
@media screen and (max-width: 350px) {
    .container .question-wrapper .radio-wrapper .radio-cont {
        width: 50%;
        max-width: 50%;
    }
}